<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
  	<!-- Configure Session Factory -->
    <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
    <property name="hibernate.connection.url">jdbc:oracle:thin:@orcl.cdmxftzst31v.us-west-2.rds.amazonaws.com:1521:orcl</property>
<!--     <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:xe</property> -->
    <property name="hibernate.connection.username">jjf28</property>
    <property name="hibernate.connection.password">welcome1</property>
    <property name="hibernate.connection.pool_size">20</property>
    <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
<!--     <property name="hibernate.hbm2ddl.auto">update</property> -->
    <property name="hibernate.show_sql">true</property> <!-- for debugging -->
    
    
    <mapping class="com.revature.ims_backend.entities.Address" />
    <mapping class="com.revature.ims_backend.entities.Category" />
    <mapping class="com.revature.ims_backend.entities.Client" />
    <mapping class="com.revature.ims_backend.entities.ClientType" />
    <mapping class="com.revature.ims_backend.entities.OrderLine" />
    <mapping class="com.revature.ims_backend.entities.Product" />
    <mapping class="com.revature.ims_backend.entities.ProductImage" />
    <mapping class="com.revature.ims_backend.entities.PurchaseOrder" />
    <mapping class="com.revature.ims_backend.entities.StateAbbreviation" />
    
    
    <!-- Object-Relational Mapping Resource -->
<!--     <mapping class="com.revature.beans.Student"></mapping> -->
<!--     <mapping class="com.revature.beans.Course"></mapping> -->
     <mapping class="com.revature.beans.Classroom"></mapping>
    
<!--     <property name="hibernate.cache.region.factory_class"> -->
<!--       net.sf.ehcache.hibernate.EhCacheRegionFactory -->
<!--     </property> -->
<!--     <property name="hibernate.cache.user_second_level_cache"> -->
<!--       true -->
<!--     </property> -->
<!--     <property name="hibernate.cache.use_query_cache"> -->
<!--       true -->
<!--     </property> -->
    
  </session-factory>
</hibernate-configuration>